{% extends "frame.html" %}

{% load staticfiles %}
{% load image_tags %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load category_saperator %}
{% load calculate_remainder %}
{% load category_tags %}
    {% block customheadend %}
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
    {% endblock %}
{% block page-content %}
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
 
      <!--+breadcrumbs-->
      <section class="breadcrumbs-custom">
        <div class="parallax-container" data-parallax-img="{% static 'images/about-us.png'%}">
          <div class="breadcrumbs-custom-body parallax-content context-dark">
            <div class="container">
              <h2 class="text-transform-capitalize breadcrumbs-custom-title">FAQs</h2>
              <h5 class="breadcrumbs-custom-text">Save your time by going through our quick list of most commonly received customer qeries. Contact us anytime if your query isn't listed here.</h5>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom-footer">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="{{homepage_url}}">Home</a></li>
              <li class="active">FAQs</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Section Services-->
      <section class="section section-xl bg-default">
        <div class="container">
          <div class="row row-30 box-ordered">
            <div class="col-sm-6 col-lg-3">
              <article class="box-icon-modern">
                <div class="box-icon-modern-header">
                  <div class="box-icon-modern-count box-ordered-item"></div>
                  <div class="box-icon-modern-icon fl-bigmug-line-big104"></div>
                </div>
                <h4 class="box-icon-modern-title"><a href="#">100% AUTHENTIC</a></h4>
                <p class="box-icon-modern-text">All products sold on our website are FSSAI approved and follow safe and hygienic manufacturing and packaging process.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3">
              <article class="box-icon-modern">
                <div class="box-icon-modern-header">
                  <div class="box-icon-modern-count box-ordered-item"></div>
                  <div class="box-icon-modern-icon fl-bigmug-line-shopping199"></div>
                </div>
                <h4 class="box-icon-modern-title"><a href="#">CUSTOMER CARE</a></h4>
                <p class="box-icon-modern-text">We are always ready to help you and easily reachable via our customer support number and email.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3">
              <article class="box-icon-modern">
                <div class="box-icon-modern-header">
                  <div class="box-icon-modern-count box-ordered-item"></div>
                  <div class="box-icon-modern-icon fl-bigmug-line-like51"></div>
                </div>
                <h4 class="box-icon-modern-title"><a href="#">JUST HEALTH. NO SPAM.</a></h4>
                <p class="box-icon-modern-text">We only sell healthy food products that are tasty and provide health and weight management benefits.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3">
              <article class="box-icon-modern">
                <div class="box-icon-modern-header">
                  <div class="box-icon-modern-count box-ordered-item"></div>
                  <div class="box-icon-modern-icon fl-bigmug-line-giftbox54"></div>
                </div>
                <h4 class="box-icon-modern-title"><a href="#">RETURNS & REFUND</a></h4>
                <p class="box-icon-modern-text">We respect our customers’ trust on us and thoroughly investigate and resolve all complaints as per our company policy.</p>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Subscribe to Our Newsletter-->
      <section class="parallax-container" data-parallax-img="{% static 'images/stay-connected.webp'%}">
        <div class="parallax-content section-xxl context-dark text-md-left">
          <div class="container">
            <div class="row row-30 justify-content-center align-items-center align-items-md-end">
              <div class="col-lg-3">
                <h3 class="text-spacing-100 wow fadeInLeft">Stay <span class="font-weight-light">connected</span>
                </h3>
                <p class="wow fadeInLeft" data-wow-delay=".1s">Subscribe to our newsletter</p>
              </div>
              <div class="col-lg-8 col-xl-9 inset-lg-bottom-10">
                <!-- RD Mailform-->
                <form class="rd-form rd-mailform rd-form-inline form-lg rd-form-text-center" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                  <div class="form-wrap wow fadeInUp">
                    <input class="form-input" id="subscribe-form-0-email" type="email" name="email" data-constraints="@Email @Required"/>
                    <label class="form-label" for="subscribe-form-0-email">Enter your e-mail address</label>
                  </div>
                  <div class="form-button wow fadeInRight">
                    <button class="button button-shadow-2 button-zakaria button-lg button-primary" type="submit">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Pricing List-->
      {% comment %} <section class="section section-sm section-first bg-default">
        <div class="container">
          <div class="row row-xl row-30 justify-content-center">
            <div class="col-sm-6 col-lg-4">
              <article class="pricing-classic">
                <div class="pricing-classic-header"><img class="pricing-classic-figure" src="{% static 'images/pricing-1-346x229.jpg'%}" alt="" width="346" height="229"/>
                  <div class="pricing-classic-caption">
                    <div>
                      <h3 class="pricing-classic-title">Fruit Box</h3>
                      <div class="pricing-classic-price-wrap">
                        <div class="pricing-classic-price heading-4">$90.00</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pricing-classic-body">
                  <ul class="pricing-classic-list">
                    <li><span>2 kg</span> Apples</li>
                    <li><span>1.5 kg</span> Cherries</li>
                    <li><span>2 kg</span> Bananas</li>
                    <li><span>1 kg</span> Pineapples</li>
                  </ul><a class="button button-lg button-default-outline button-zakaria" href="#">Add to cart</a>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="pricing-classic pricing-classic-sale">
                <div class="pricing-classic-header"><img class="pricing-classic-figure" src="{% static 'images/pricing-2-346x229.jpg'%}" alt="" width="346" height="229"/>
                  <div class="pricing-classic-caption">
                    <div><span class="product-badge product-badge-sale">Sale</span>
                      <h3 class="pricing-classic-title">Mix Box</h3>
                      <div class="pricing-classic-price-wrap">
                        <div class="pricing-classic-price pricing-classic-price-old heading-6">$150.00</div>
                        <div class="pricing-classic-price heading-4">$120.00</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pricing-classic-body">
                  <ul class="pricing-classic-list">
                    <li><span>3 kg</span> Oranges</li>
                    <li><span>1.6 kg</span> Tomatoes</li>
                    <li><span>1.5 kg</span> Melons</li>
                    <li><span>2.8 kg</span> Peppers</li>
                  </ul><a class="button button-lg button-default-outline button-zakaria" href="#">Add to cart</a>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="pricing-classic">
                <div class="pricing-classic-header"><img class="pricing-classic-figure" src="{% static 'images/pricing-3-346x229.jpg'%}" alt="" width="346" height="229"/>
                  <div class="pricing-classic-caption">
                    <div>
                      <h3 class="pricing-classic-title">Veggie Box</h3>
                      <div class="pricing-classic-price-wrap">
                        <div class="pricing-classic-price heading-4">$100.00</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pricing-classic-body">
                  <ul class="pricing-classic-list">
                    <li><span>4 kg</span> Cucumbers</li>
                    <li><span>1.8 kg</span> Carrots</li>
                    <li><span>3 kg</span> Potatoes</li>
                    <li><span>2 kg</span> Tomatoes</li>
                  </ul><a class="button button-lg button-default-outline button-zakaria" href="#">Add to cart</a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section> {% endcomment %}
      <!-- Accordions-->
      <section class="section section-sm section-last bg-default">
        <div class="container">
          <!-- Bootstrap collapse-->
          <div class="card-group-custom card-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">
            <div class="row">
              <div class="col-lg-6">
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" role="tab">
                    <div class="card-title"><a id="accordion1-card-head-one" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-one" aria-controls="accordion1-card-body-gryffpqb" aria-expanded="true" role="button">
                        What is InstaEats?
                        <div class="card-arrow">
                          <div class="icon"></div>
                        </div></a></div>
                  </div>
                  <div class="collapse show" id="accordion1-card-body-one" aria-labelledby="accordion1-card-head-one" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                      <p>InstaEats is a natural range of health foods made from superfood seeds and nuts that are healthier alternatives to regular foods, be it better nutritive value, carbohydrate management, sugar management or Keto diet friendly products. InstaEats offers health solution, convenience of consumption and fulfillment of taste and healthy snacking.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" role="tab">
                    <div class="card-title"><a class="collapsed" id="accordion1-card-head-two" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-two" aria-controls="accordion1-card-body-fbctwwxo" aria-expanded="false" role="button">
                        What benefits do InstaEats products provide?
                        <div class="card-arrow">
                          <div class="icon"></div>
                        </div></a></div>
                  </div>
                  <div class="collapse" id="accordion1-card-body-two" aria-labelledby="accordion1-card-head-two" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                      <p>InstaEats products are designed to provide health benefits such as Diabetes, PCOS, Thyroid management and reversal, weight loss, weight gain, immunity, vitality and general health.  </p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate card-corporate-2">
                  <div class="card-header" role="tab">
                    <div class="card-title"><a class="collapsed" id="accordion1-card-head-three" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-three" aria-controls="accordion1-card-body-nisvtmmx" aria-expanded="false" role="button">
                        Who can consume InstaEats products?
                        <div class="card-arrow">
                          <div class="icon"></div>
                        </div></a></div>
                  </div>
                  <div class="collapse" id="accordion1-card-body-three" aria-labelledby="accordion1-card-head-three" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                      <p>InstaEats products are beneficial and safe for consumption by everyone. Kids, adults and elderly, everyone can consume InstaEats products without worrying about any negative or side-effect whatsoever.  </p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" role="tab">
                    <div class="card-title"><a class="collapsed" id="accordion1-card-head-four" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-four" aria-controls="accordion1-card-body-sbvtpdjm" aria-expanded="false" role="button">
                        Do InstaEats products have side effects?
                        <div class="card-arrow">
                          <div class="icon"></div>
                        </div></a></div>
                  </div>
                  <div class="collapse" id="accordion1-card-body-four" aria-labelledby="accordion1-card-head-four" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                      <p>InstaEats products are completely natural and carry 0 side effects.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" role="tab">
                    <div class="card-title"><a class="collapsed" id="accordion1-card-head-five" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-five" aria-controls="accordion1-card-body-nldacbbi" aria-expanded="false" role="button">
                        How to place order?
                        <div class="card-arrow">
                          <div class="icon"></div>
                        </div></a></div>
                  </div>
                  <div class="collapse" id="accordion1-card-body-five" aria-labelledby="accordion1-card-head-five" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                      <p>Simply click on a product category in top menu or directly click a product in the product list anywhere on the website to reach product details page. Check volume, select quantity and proceed to checkout. Before making payment, please ensure your delivery location is serviceable by courier company.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" role="tab">
                    <div class="card-title"><a class="collapsed" id="accordion1-card-head-six" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-six" aria-controls="accordion1-card-body-dsqbfxgq" aria-expanded="false" role="button">
                        How to cancel order?
                        <div class="card-arrow">
                          <div class="icon"></div>
                        </div></a></div>
                  </div>
                  <div class="collapse" id="accordion1-card-body-six" aria-labelledby="accordion1-card-head-six" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                      <p>Currently we do not have a provision for order cancellation.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-lg-6">
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" role="tab">
                    <div class="card-title"><a class="collapsed" id="accordion1-card-head-seven" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-seven" aria-controls="accordion1-card-body-dsqbfxgq" aria-expanded="false" role="button">
                        How to return/replace the order?
                        <div class="card-arrow">
                          <div class="icon"></div>
                        </div></a></div>
                  </div>
                  <div class="collapse" id="accordion1-card-body-seven" aria-labelledby="accordion1-card-head-seven" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                      <p>For all such queries please refer to the Returns & refund policy.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" role="tab">
                    <div class="card-title"><a class="collapsed" id="accordion1-card-head-eight" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-eight" aria-controls="accordion1-card-body-dsqbfxgq" aria-expanded="false" role="button">
                        Where all do you deliver your products?
                        <div class="card-arrow">
                          <div class="icon"></div>
                        </div></a></div>
                  </div>
                  <div class="collapse" id="accordion1-card-body-eight" aria-labelledby="accordion1-card-head-eight" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                      <p>We ship our products all over India.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" role="tab">
                    <div class="card-title"><a class="collapsed" id="accordion1-card-head-nine" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-nine" aria-controls="accordion1-card-body-dsqbfxgq" aria-expanded="false" role="button">
                        When will I receive my order?
                        <div class="card-arrow">
                          <div class="icon"></div>
                        </div></a></div>
                  </div>
                  <div class="collapse" id="accordion1-card-body-nine" aria-labelledby="accordion1-card-head-nine" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                      <p>Delivery of our products takes at least 7-8 business days. It may get delayed on certain days due to extreme weather conditions or governmental regulatory activities. Depending on the product availability, few orders might take more than 10-12 days to ship. Customers will be contacted by e-mail OR mobile if there is any such problem related to processing the order or shipping the product in time.
                      <br>
                      For the orders intended to be received before a specific event or a festival, where specific delivery time-frame is important, customers are advised to place the order at least 15 days before the expected delivery date. For urgent deliveries kindly contact us before placing the order.
                      </p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" role="tab">
                    <div class="card-title"><a class="collapsed" id="accordion1-card-head-ten" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-ten" aria-controls="accordion1-card-body-dsqbfxgq" aria-expanded="false" role="button">
                        Delivered product feels as hard as rock. Why?
                        <div class="card-arrow">
                          <div class="icon"></div>
                        </div></a></div>
                  </div>
                  <div class="collapse" id="accordion1-card-body-ten" aria-labelledby="accordion1-card-head-ten" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                      <p>Since some of the products are high in oil/fat content, vacuum packing is done on them to avoid air contact for enhanced shelf life. </p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" role="tab">
                    <div class="card-title"><a class="collapsed" id="accordion1-card-head-eleven" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-eleven" aria-controls="accordion1-card-body-dsqbfxgq" aria-expanded="false" role="button">
                        What are the storage instructions for the products?
                        <div class="card-arrow">
                          <div class="icon"></div>
                        </div></a></div>
                  </div>
                  <div class="collapse" id="accordion1-card-body-eleven" aria-labelledby="accordion1-card-head-eleven" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                      <p>Storage instructions for every product are different and mentioned on the product.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" role="tab">
                    <div class="card-title"><a class="collapsed" id="accordion1-card-head-twelve" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-twelve" aria-controls="accordion1-card-body-dsqbfxgq" aria-expanded="false" role="button">
                        My question is not listed above. What should I do?
                        <div class="card-arrow">
                          <div class="icon"></div>
                        </div></a></div>
                  </div>
                  <div class="collapse" id="accordion1-card-body-twelve" aria-labelledby="accordion1-card-head-twelve" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body d-flex">
                      <p>Please reach out to us at <a href="tel:+91-8800945109" class="d-inline-block">+91-8800945109</a> or email us at <a class="d-inline-block" href="mailto:orders@instaeats.in" target="_blank">orders@instaeats.in</a> (order related queries) or <a class="d-inline-block" href="mailto:info@instaeats.in" target="_blank">info@instaeats.in</a> (general queries).</p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    <div class="snackbars" id="form-output-global"></div>
<!--    <script src="js/core.min.js"></script>-->
<!--    <script src="js/script.js"></script>-->
{% endblock page-content %}

{% block custombodyend %}
<script>
    $(document).ready(function(){
        $("header").removeClass("header-creative-wrap");
        $("header").removeClass("context-dark");
    });
</script>
{% endblock %}